@import '../../../../../node_modules/@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$bv-brand: (
  50: #e0efff,
  100: #b3d7ff,
  200: #80bdff,
  300: #4da2ff,
  400: #268eff,
  500: #007aff,
  600: #0072ff,
  700: #0067ff,
  800: #005dff,
  900: #004aff,
  A100: #ffffff,
  A200: #f2f5ff,
  A400: #bfceff,
  A700: #a6baff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bv-orange: (
  50: #fff2e0,
  100: #ffdfb3,
  200: #ffca80,
  300: #ffb54d,
  400: #ffa526,
  500: #ff9500,
  600: #ff8d00,
  700: #ff8200,
  800: #ff7800,
  900: #ff6700,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd5bf,
  A700: #ffc4a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bv-red: (
  50: #f7e2e6,
  100: #ecb6c1,
  200: #e08698,
  300: #d3556e,
  400: #c9304f,
  500: #c00c30,
  600: #ba0a2b,
  700: #b20824,
  800: #aa061e,
  900: #9c0313,
  A100: #ffc7ca,
  A200: #ff949b,
  A400: #ff616b,
  A700: #ff4753,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-brand);
$bv-palette-accent: mat-palette($bv-orange);
$bv-palette-warn: mat-palette($bv-red);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent, $bv-palette-warn);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);
