.tab {
  display: flex;
  align-items: center;

  &-item {
    padding: 10px;
    cursor: pointer;

    &.isActive {
      background-color: #fff;
      border-radius: 50% 50% 0 0;
    }

    &__logo {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
    &__create {
      background-color: #ededed;
    }
  }
}
